@include b('list'){
	&_check{
    li{
      padding-left: 30px;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      &:after{
        top: 5px;
        left: 0;
        @include bg('../img/list-check.png');
        @include size(19px, 17px);
      }
    }
  }
}