extends pug/layout
block head
	+add-meta('Main File', 'Description')
block nav
	include pug/layouts/nav
block header
	include pug/layouts/header
block content
	include pug/sections/bonus
	include pug/sections/ukrainian-study
	include pug/sections/future
	include pug/sections/benefits
	include pug/sections/security
	include pug/sections/fast-consultation
	include pug/sections/bonus
	include pug/sections/chance
	include pug/sections/results
	include pug/sections/for-what
block footer
	include pug/layouts/footer